{% extends "index.html" %}

{% block content %}
  <h2>Detalles del Usuario</h2>
  
  <p><strong>Username:</strong> {{ usuario.username }}</p>
  <p><strong>Email:</strong> {{ usuario.email }}</p>
  <p><strong>Nombres:</strong> {{ usuario.nombres }}</p>
  <p><strong>Apellidos:</strong> {{ usuario.apellidos }}</p>
  <p><strong>Rol:</strong> {{ usuario.get_rol_display }}</p>
  <p><strong>Edificio:</strong> {{ usuario.edificio }}</p>
  <p><strong>Piso:</strong> {{ usuario.piso }}</p>
  <p><strong>Solicitudes del Usuario:</strong> <a href="{% url 'Reporte_Usuario' pk=usuario.pk %}">Ver Solicitudes</a></p>

  <a href="{% url 'editar_usuario' pk=usuario.pk %}">Editar Usuario</a>
  <a href="{% url 'eliminar_usuario' pk=usuario.pk %}">Eliminar Usuario</a>
  <a href="{% url 'lista_usuario' %}">Volver a la Lista de Usuarios</a>


{% endblock %}
